*,::after,::before{
    
    box-sizing: border-box;
}
body{
left: 30%;
    position: absolute;
    top: 150px;
    background-color: aqua;
}
.circle-border{
    color: black;
    height: 400px;
    width: 400px;
    border: 2px solid black ;
    position: relative;
    background-color: bisque;
    border-radius: 50%;
}

.circle-border .numbers{
    --rotation:0;
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: brown; */
    text-align: center;
    transform: rotate(var(--rotation));
}
.circle-border .numbers1{
    --rotation:30deg;
}
.circle-border .numbers2{
    --rotation:60deg;
}
.circle-border .numbers3{
    --rotation:90deg;
}
.circle-border .numbers4{
    --rotation:120deg;
}
.circle-border .numbers5{
    --rotation:150deg;
}
.circle-border .numbers6{
    --rotation:180deg;
}
.circle-border .numbers7{
    --rotation:210deg;
}
.circle-border .numbers8{
    --rotation:240deg;
}
.circle-border .numbers9{
    --rotation:270deg;
}
.circle-border .numbers10{
    --rotation:300deg;
}
.circle-border .numbers11{
    --rotation:330deg;
}
.circle-border .clock{
    --rotation:0;
    position: absolute;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    bottom: 50%;
    left: 50%;
    background-color: rgba(100, 89, 89, 0.8);
    z-index: 10;
    transform-origin: bottom;
    transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}
.clock-border::after{
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 11;
    height: 15px;
    width: 15px;
    background-color: black;
    transform: translate(-50%,-50%);
}
.circle-border .clock.second{
   height: 150px;
    width: 7px;
   background-color: crimson;
   border-top-left-radius: 25px;
  border-top-right-radius: 25px;

}
.circle-border .clock.minute{
    height: 120px;
     width: 7px;
    background-color: black;
    border-top-left-radius: 25px;
   border-top-right-radius: 25px;
 
 }

.circle-border .clock.hour{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
   height: 80px;
   width: 10px;
}
